<!doctype html>

<html lang="en-us">

<h3>Christmas Tree Controller
    <h3 />
    <form method="post" action="/">
        <input type="submit" value="On" name="On" />
        <input type="submit" value="Off" name="Off" />
        <br />
        <input type="submit" value="Cycle" name="Cycle" />
        <input type="submit" value="OneByOne" name="OneByOne" />
        <input type="submit" value="Sparkle" name="Sparkle" />
        <br />
        <input type="range" min="0" max="100" name="brightness" />
    </form>

</html>